<div class="order_form">

	<%=form_for @order, url: {action: "create"} do |f| %>
	  <%= f.label :drink_id %>:
	  <%= f.collection_select(:drink_id, Drink.all, :id, :name) %>
	  

	  <%= f.submit "Caffeine me please."%>
	<%end%>
</div>